# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs & temp files
*.log
*.tmp
*.bak
*.sqlite3

# Odoo specific
*.pot
*.po~
*.mo
*.zip
*.csv
*.xlsx
